.top {
    top: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: grid;
    place-items: center;
    transition: .4s;
}

.closeEdit {
    top: 5em;
    left: 70%;
}

.closeNew {
    top: 6em;
    left: 70%;
}

.translate {
    transform: translateY(-100%);
}